a {
  color: #F15B31;
  font-size: 18px;
  font-weight: 600;
  margin: 0 20px;
  text-decoration: none;
}

a:hover {
  color: purple;
}

a:active {
  color:purple;
  text-decoration: underline;
}

body {
  font-family: "Raleway",sans-serif;
  font-size:12px;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
}

h1 {
  color: #0D2C40;
  font-size: 45px;
  font-weight: 400;
  margin: 0;
}

h2 {
  color: #0D2C40;
  font-size: 20px;
  font-weight: 600;
}
header{
  background-color: #F15B31;
  color: #FFFFFF;
  padding: 30px 20px;
}
img{
  margin: 40px 8px 0;
}
main {
  margin: 35px auto;
  width: 850px;
}
nav {
  background-color: #00A6B3;
  color: #FFF;
  padding: 20px 0;
}
p {
  font-family: "Droid Serif", serif;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 26px;
}


footer ul {
  display: inline;
}

.upper {
  text-transform: uppercase;
}
